*{
    margin: 0px;
    padding: 0px;
}
#night{
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#day{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbar-brand{
    padding-left: 20px;
    font-size: 25px;
    font-family: "Montserrat";
}
.nav-link{
    font-size: 20px;
    font-family: "Montserrat";
    color: black;
}
.w-100{
    width: 100% !important;
    height: 75vh;
}
.card-title{
    font-weight: bold;
}
.card-header{
    color: white;
    background-color: transparent;
}
.main-content{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}
.footer{
    padding: 30px;
}
.footer p{
    text-align: center;
    font-family: "Montserrat";
}